/*-------------------------------

    Custom stylesheet (custom.css)

----------------------------*/



/* main {
    animation-delay: 2.5s;
    z-index: 0;
  } */


main {
    animation-delay: 2s;
  }